本数据集收集的是一个推特博主叫WeRateDog的每条推特。（超级有意思的博主）这个博主就是对狗狗打分 传送门->https://twitter.com/dog_rates

![Image Name](dogdog.jpg)

** 我在做的事情就是 **
- 1.数据进行收集
- 2.评估数据质量问题和清洁度（结构）问题，
- 3.清洗数据集
☺

In [1]:
# !pip install baidu-aip

## 1.数据收集

数据说明:
- tweet_json.json 文件为博主的推特数据集
- twitter-archive-enhanced.csv 文件为博主的推特数据集（不过缺失了转发数，点赞数等特征）
- image-predictions.tsv 文件为根据神经网络，对出现在每个推特中狗的品种（或其他物体、动物等）进行预测的结果数据.

工作任务：
- 使用**编程的方式下载image-predictions.tsv**
- ~~为每一个tweet_id建立一个文件夹，然后将对应的图片下载到文件夹中~~
- **补充twitter-archive-enhanced每一条推特数据的`转发数`和`点赞数`**
- ~~**增加新特征狗的品种(金毛、哈士奇和比熊等)**~~
- ~~**合并1和2两个数据集**~~

In [2]:
from aip import AipImageClassify
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import pandas as pd

In [3]:
# '''
#     API秘钥
#     初始化动物分类器client
# '''
# APP_ID = '16362689'
# API_KEY = 'PHygp2qqRgV3p3NzGCvx5nW8'
# SECRET_KEY = '6MtqtYPDMRzpF4TdXCOvxi6n4E0aIaEt'
# client = AipImageClassify(APP_ID, API_KEY, SECRET_KEY)

# '''
# def get_file_content(filePath):
#     with open(filePath, 'rb') as fp:
#         return fp.read()
# '''


# '''
#     网页图片爬虫器，切记翻墙。提取expanded url网页中的主题狗照片。
#     参数：expanded_urls
#     返回：狗狗图片url
# '''
# def getImgUrl(expanded_urls):
#     header = {'user-agent': 'my-app/0.0.1'}
#     res = requests.get(url = expanded_urls, headers = header)
#     content = BeautifulSoup(res.content, "lxml")
#     '''
#     要匹配的标签是如下。利用属性选择的方式查询
#     <img data-aria-label-part="" src="https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg" alt=
#     "" style="width: 100%; top: -84px;">
#     '''
#     c = content.select('img[data-aria-label-part]')[0]
#     return c['src']

# '''
#     识别url指向的狗的品种
#     参数: dogImgUrl 图片url
#     返回: 识别结果json
# '''
# def getDogBreed(dogImgUrl):
#     img = requests.get(dogImgUrl)
#     return client.animalDetect(img.content)

# # 结果测试
# getDogBreed(getImgUrl("https://twitter.com/dog_rates/status/888917238123831296/photo/1"))

#### a.补充每一条推特数据的转发数和点赞数

In [4]:
# 读取数据
twitter_archive_enhanced = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive_enhanced.head(2)
twitter_archive_enhanced.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [5]:
# 显示数据前2行
tweet_json = pd.read_json("tweet_json.json", lines = True)
tweet_json.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",39492,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,0.0,NaN,NaN,NaN,8842,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",33786,False,This is Tilly. She's just checking pup on you....,NaN,...,0.0,NaN,NaN,NaN,6480,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [6]:
'''
    补充twitter_archive_enhanced数据集中retweet_count列和favorite_count列
'''
rtweet_count_list = []
favorite_count_list = []
for i in range(len(twitter_archive_enhanced)):
    id = twitter_archive_enhanced.loc[i]['tweet_id']
    try:
        t1 = tweet_json[tweet_json['id'] == id]["retweet_count"]
        t2 = tweet_json[tweet_json['id'] == id]["favorite_count"]
        rtweet_count_list.append(t1.iloc[0])
        favorite_count_list.append(t2.iloc[0])
    except:
        rtweet_count_list.append(np.nan)
        favorite_count_list.append(np.nan)
# rtweet_count_list
# favorite_count_list

In [7]:
twitter_archive_enhanced['favorite_count'] = favorite_count_list
twitter_archive_enhanced['retweet_count'] = rtweet_count_list
twitter_archive_enhanced[['favorite_count', 'retweet_count']].head(2)

   favorite_count  retweet_count
0         39492.0         8842.0
1         33786.0         6480.0

结果检测

In [8]:
# 查询id=890729181411237888的推特数据是否相等
print(tweet_json[tweet_json['id'] == 890729181411237888]['favorite_count'])
print(twitter_archive_enhanced[twitter_archive_enhanced['tweet_id'] == 890729181411237888]['favorite_count'])

7    66596
Name: favorite_count, dtype: int64
7    66596.0
Name: favorite_count, dtype: float64

In [9]:
# 查询id=890729181411237888的推特数据是否相等
print(tweet_json[tweet_json['id'] == 890729181411237888]['retweet_count'])
print(twitter_archive_enhanced[twitter_archive_enhanced['tweet_id'] == 890729181411237888]['retweet_count'])

7    19548
Name: retweet_count, dtype: int64
7    19548.0
Name: retweet_count, dtype: float64

#### b.image-predictions.tsv 文件为根据神经网络，对出现在每个推特中狗的品种（或其他物体、动物等）进行预测的结果数据.使用编程的方式下载该文件

In [10]:
import requests

In [11]:
# r = requests.get("https://raw.githubusercontent.com/udacity/new-dand-advanced-china/master/%E6%95%B0%E6%8D%AE%E6%B8%85%E6%B4%97/WeRateDogs%E9%A1%B9%E7%9B%AE/image-predictions.tsv")

In [12]:
# r.content

In [13]:
# fileobj = open("image-predictions_byPythonDownload.tsv", 'wb')
# fileobj.write(r.content)
# fileobj.close()

结果检测 <br>
该文件夹下已成功创建文件

#### c. 增加新特征狗的品种(金毛、哈士奇和比熊等)

In [14]:
# '''
#     获得expanded_urls_serise的图片url
# '''
# def getImgUrlList(expanded_urls_serise):
#     id = 0
#     rec = []
#     for expanded_url in expanded_urls_serise:
#         print(id, "    ")
#         id += 1
#         try:    
#             '''
#                 在url的list中查找包含"twitter.com"字符串的第一个url
#             '''
#             splistUrl = expanded_url.split(",")
# #             print(splistUrl)
#             for temp in splistUrl:
#                 if temp.find("twitter.com"):
#                     rec.append(getImgUrl(temp))
#                     break
#         except:
#             rec.append(np.nan)
#             print(splistUrl, "失败")
#     return rec
# getImgUrlList(twitter_archive_enhanced['expanded_urls'])

## 2.数据评估

In [15]:
twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 19 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
favorite_count                2352 non-null float64
retweet_count                 2352 non-null float64
dtypes: float64(6), int64(3), object(10)
memory usage: 349.8+ KB

In [16]:
# twitter_archive_enhanced[twitter_archive_enhanced['retweeted_status_id'].isnull() == False]

In [17]:
# twitter_archive_enhanced[twitter_archive_enhanced['doggo'] == 'None']

In [18]:
# t = twitter_archive_enhanced[twitter_archive_enhanced['doggo'] == "None"]
# t['doggo'] = np.nan
# t['doggo']
# twitter_archive_enhanced.loc[twitter_archive_enhanced['doggo'] == "None", 'doggo'] = np.nan
# twitter_archive_enhanced.loc[twitter_archive_enhanced['floofer'] == "None", 'floofer'] = np.nan
# twitter_archive_enhanced.loc[twitter_archive_enhanced['pupper'] == "None", 'pupper'] = np.nan
# twitter_archive_enhanced.loc[twitter_archive_enhanced['puppo'] == "None", 'puppo'] = np.nan

In [19]:
# twitter_archive_enhanced.info()

In [20]:
# twitter_archive_enhanced.to_csv("twitter_archive_enhanced_clean1.csv")

In [21]:
# t = twitter_archive_enhanced.loc[twitter_archive_enhanced['name'] == 'None', 'text']
# t.iloc[1]

质量问题：

- in_reply_to_user_id  有78条。故有78条推特是回复。
- in_reply_to_status_id 同上
- source  列应当只包含iphone web内容
- timestamp 列的时间数据不是datatime类型
- name列数据异常
- doggo	floofer	pupper	puppo 列数据缺失
- rating_denominator列中有异常值（等于0）
- favorite_count 列中有几个NaN
- retweet_count 列中有几个NaN
- favorite_count和retweet_count列应当是int64类型

清洁度问题:
- doggo floofer pupper puppo 可以合并成一个列
- retweeted_status_id和retweeted_status_user_id保留一个

In [22]:
# twitter_archive_enhanced['expanded_urls'][1]

In [23]:
# t = twitter_archive_enhanced.loc[twitter_archive_enhanced['rating_numerator'] == 0, 'text']
# t.iloc[0]

In [24]:
# pd.unique(twitter_archive_enhanced['rating_numerator'])

## 3.数据清洗

**a.  `in_reply_to_user_id` 有78条.将其删除**

In [25]:
df_temp = twitter_archive_enhanced[twitter_archive_enhanced["in_reply_to_user_id"].isnull()==False]

In [26]:
twitter_archive_enhanced = twitter_archive_enhanced.drop(index=df_temp.index)

检测

In [27]:
twitter_archive_enhanced.info()
# in_reply_to_user_id           0 non-null float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2278 entries, 0 to 2355
Data columns (total 19 columns):
tweet_id                      2278 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2278 non-null object
source                        2278 non-null object
text                          2278 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2274 non-null object
rating_numerator              2278 non-null int64
rating_denominator            2278 non-null int64
name                          2278 non-null object
doggo                         2278 non-null object
floofer                       2278 non-null object
pupper                        2278 non-null object
puppo                         2278 non-null object
favorite_count                2274 non-null float64
retweet_count                 2274 non-null float64
dtypes: float64(6), int64(3), object(10)
memory usage: 355.9+ KB

**b. `source`列应当只包含iphone web等内容**

In [28]:
# 重置index列
twitter_archive_enhanced.reset_index(drop=True, inplace=True)
# twitter_archive_enhanced

In [29]:
'''
    解析出每一个html标记语言中的内容
    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
    提取出Twitter for iPhone
'''
# html = twitter_archive_enhanced['source'][1]
# t = BeautifulSoup(html, 'lxml')
# t.a.contents

for i in range(len(twitter_archive_enhanced)):
    html = twitter_archive_enhanced.loc[i, 'source']
    try:
        t = BeautifulSoup(html, 'lxml') # html转为BeautifulSoup
        twitter_archive_enhanced.loc[i, 'source'] = t.a.contents[0]
    except:
        twitter_archive_enhanced.loc[i, 'source'] = html
# twitter_archive_enhanced['source']

In [30]:
# '''
#     将列表转为变量
#     twitter_archive_enhanced['source'][i][0]
# '''
# for i in range(len(twitter_archive_enhanced)):
#     twitter_archive_enhanced['source'][i] = twitter_archive_enhanced['source'][i][0]

检测

In [31]:
twitter_archive_enhanced['source'].unique()

array(['Twitter for iPhone', 'Twitter Web Client', 'Vine - Make a Scene',
       'TweetDeck'], dtype=object)

**c. `timestamp` 列的时间数据不是datatime类型**

In [32]:
twitter_archive_enhanced['timestamp'] = pd.to_datetime(twitter_archive_enhanced['timestamp'])

检测

In [33]:
twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 19 columns):
tweet_id                      2278 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2278 non-null datetime64[ns]
source                        2278 non-null object
text                          2278 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2274 non-null object
rating_numerator              2278 non-null int64
rating_denominator            2278 non-null int64
name                          2278 non-null object
doggo                         2278 non-null object
floofer                       2278 non-null object
pupper                        2278 non-null object
puppo                         2278 non-null object
favorite_count                2274 non-null float64
retweet_count                 2274 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(9)
memory usage: 338.2+ KB

** d. `name`列数据异常。根据`text`列修补 **
- 使用正则表达式匹配名字，并且名字第一个字应该是大写.
- 如果`text`中没有写出名字那么用nan代替

In [34]:
# 引用 https://blog.csdn.net/u010606346/article/details/84778363
twitter_archive_enhanced['name'] = twitter_archive_enhanced['text'].str.extract(r'(?:This is|named|Meet|Say hello to|name is|Here we have|Here is)\s([A-Z][^\s.,]*)')

In [35]:
twitter_archive_enhanced['name'].unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', nan, 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'Maya',
       'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Howard', 'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah',
       'Bella', 'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko',
       'Rey', 'Gary', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha', 'Jamesy',
       'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus', 'Neptune',
       'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes', 'Burt',
       'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton', 'Klein',
       'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter', 'Reggie',
       'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter', 'Alfie',
       'Fiona', 'Mutt', 'Bear', 'Doobert', 'Beebop', 'Alexander',
       'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie', 'Phil', 'Cupid',
       'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet', 'Pablo', 'Nala',
       'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison', 'Hercules',
       'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca', 'Flash',
       'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo', 'Seamus',
       'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn', 'Dido',
       'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Burke', 'Ollie', 'Cali', 'Lennon', 'Major', 'Duke', 'Reginald',
       'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny', 'Philbert',
       'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones', 'Mauve', 'Chef',
       'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh', 'Baloo', 'Stubert',
       'Paull', 'Tickles', 'Timison', 'Davey', 'Pancake', 'Tyrone',
       'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter', 'Nimbus',
       'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt', 'Benji', 'Nida',
       'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel', 'Misty', 'Happy',
       'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie', 'Meyer', 'Stella',
       'Frank', 'Tonks', 'Lincoln', 'Oakley', 'Dale', 'Rizzo', 'Arnie',
       'Pinot', 'Dallas', 'Hero', 'Frankie', 'Stormy', 'Mairi', 'Loomis',
       'Godi', 'Kenny', 'Deacon', 'Timmy', 'Harper', 'Chipson', 'Combo',
       'Dash', 'Bell', 'Hurley', 'Jay', 'Mya', 'Strider', 'Wesley',
       'Solomon', 'Huck', "O'Malley", 'Blue', 'Finley', 'Sprinkles',
       'Heinrich', 'Shakespeare', 'Fizz', 'Chip', 'Grey', 'Roosevelt',
       'Gromit', 'Willem', 'Dakota', 'Dixie', 'Al', 'Jackson', 'Carbon',
       'DonDon', 'Kirby', 'Lou', 'Nollie', 'Chevy', 'Tito', 'Louie',
       'Rupert', 'Rufus', 'Brudge', 'Shadoe', 'Colby', 'Angel', 'Brat',
       'Tove', 'Aubie', 'Kota', 'Eve', 'Glenn', 'Shelby', 'Sephie',
       'Bonaparte', 'Albert', 'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido',
       'Emma', 'Spencer', 'Lilli', 'Boston', 'Brandonald', 'Corey',
       'Leonard', 'Chompsky', 'Beckham', 'Devón', 'Gert', 'Watson',
       'Rubio', 'Keith', 'Dex', 'Carly', 'Ace', 'Tayzie', 'Grizzie',
       'Fred', 'Gilbert', 'Zoe', 'Stewie', 'Calvin', 'Lilah', 'Spanky',
       'Jameson', 'Piper', 'Atticus', 'Blu', 'Dietrich', 'Divine',
       'Tripp', 'Cora', 'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby',
       'Shaggy', 'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar',
       'Harvey', 'Blanket', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase', 'Rorie',
       'Simba', 'Charles', 'Bayley', 'Axel', 'Storkson', 'Remy',
       'Chadrick', 'Kellogg', 'Buckley', 'Livvie', 'Terry', 'Hermione',
       'Ralpher', 'Aldrick', 'Rooney', 'Crystal', 'Ziva', 'Stefan',
       'Pupcasso', 'Puff', 'Flurpson', 'Coleman', 'Enchilada', 'Raymond',
       'Rueben', 'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop',
       'Lillie', 'Fred-Rick', 'Ashleigh', 'Kreggory', 'Sarge', 'Luther',
       'Ivar', 'Jangle', 'Schnitzel', 'Panda', 'Berkeley', 'Ralphé',
       'Charleson', 'Clyde', 'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper',
       'Bowie', 'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby',
       'Flávio', 'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert',
       'Stephanus', 'Bubbles', 'Zeus', 'Bertson', 'Nico',
       'Michelangelope', 'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas',
       'Kanu', 'Lance', 'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel',
       'Sora', 'Beemo', 'Gunner', 'Lacy', 'Tater', 'Olaf', 'Cecil',
       'Vince', 'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy-E', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Oliviér', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg', 'Fynn',
       'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence', 'Hamrick',
       'Brad', 'Pubert', 'Frönq', 'Derby', 'Lizzie', 'Ember', 'Blakely',
       'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter', 'Mona',
       'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Thea',
       'Ulysses', 'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck',
       'Champ', 'Ozzie', 'Griswold', 'Cheesy', 'Moofasa', 'Hector',
       'Goliath', 'Kawhi', 'Emmie', 'Penelope', 'Willie', 'Rinna',
       'Sabertooth', 'Mike', 'William', 'Dwight', 'Evy', 'Rascal',
       'Linda', 'Tug', 'Tango', 'Grizz', 'Jerome', 'Crumpet', 'Jessifer',
       'Izzy', 'Ralph', 'Sandy', 'Humphrey', 'Tassy', 'Juckson', 'Chuq',
       'Tyrus', 'Karl', 'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert',
       'Striker', 'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Wylie',
       'Arnold', 'Zuzu', 'Mollie', 'Laela', 'Tedders', 'Superpup',
       'Rufio', 'Jeb', 'Rodman', 'Jonah', 'Chesney', 'Henry', 'Bobbay',
       'Mitch', 'Kaiya', 'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles',
       'Kendall', 'Kip', 'Jeffri', 'Steve', 'Mac', 'Fletcher', 'Kenzie',
       'Pumpkin', 'Schnozz', 'Gustaf', 'Cheryl', 'Ed', 'Leonidas',
       'Norman', 'Caryl', 'Scott', 'Taz', 'Darby', 'Jackie', 'Jazz',
       'Franq', 'Pippin', 'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley',
       'Bubba', 'Tuco', 'Patch', 'Mojo', 'Batdog', 'Dylan', 'Mark',
       'Jacob', 'JD', 'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner',
       'Sparky', 'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy',
       'Mason', 'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie',
       'Danny', 'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Spork', 'Herb',
       'Damon', 'Peanut', 'Nigel', 'Cherokee', 'Butters', 'Hemry',
       'Sandra', 'Fabio', 'Randall', 'Liam', 'Tommy', 'Ben', 'Raphael',
       'Julio', 'Andru', 'Alphred', 'Kloey', 'Shawwn', 'Skye', 'Kollin',
       'Alfredo', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Sully', 'Kirk',
       'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Pancho', 'Harrison', 'Chaz',
       'Jeremy', 'Jaycob', 'Leroi', 'Lambeau', 'Ruffles', 'Amélie',
       'Bobb', 'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Berta', 'Churlie',
       'Zeek', 'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Chuk', 'Jo', 'DayZ', 'Guss', 'Jareld', 'Torque', 'Ron',
       'Skittles', 'Alfonso', 'Cleopatricia', 'Erik', 'Stu', 'Tedrick',
       'Filup', 'Kial', 'Klint', 'Naphaniel', 'Big', 'Dook', 'Hall',
       'Philippe', 'Kohl', 'Biden', 'Fwed', 'Genevieve', 'Joshwa',
       'Daryl', 'Bradlay', 'Clybe', 'Keet', 'Carll', 'Pepe', 'Jockson',
       'Octaviath', 'Josep', 'Lugan', 'Johm', 'Christoper'], dtype=object)

In [36]:
twitter_archive_enhanced.info()
# 没有名字的用nan代替

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 19 columns):
tweet_id                      2278 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2278 non-null datetime64[ns]
source                        2278 non-null object
text                          2278 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2274 non-null object
rating_numerator              2278 non-null int64
rating_denominator            2278 non-null int64
name                          1534 non-null object
doggo                         2278 non-null object
floofer                       2278 non-null object
pupper                        2278 non-null object
puppo                         2278 non-null object
favorite_count                2274 non-null float64
retweet_count                 2274 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(9)
memory usage: 338.2+ KB

**e.`doggo floofer pupper puppo`等 列数据缺失** 
- 查询text中是否存在对应的单词（doggo floofer pupper puppo）
- 存在则放入新的列`nickname`中

In [39]:
# twitter_archive_enhanced[twitter_archive_enhanced['text'].str.find('puppo')!=-1]
# nickname
for i in range(len(twitter_archive_enhanced)):
    if twitter_archive_enhanced.loc[i, 'text'].find("puppo")!=-1:
        twitter_archive_enhanced.loc[i, 'nickname'] = "puppo"
        
    if twitter_archive_enhanced.loc[i, 'text'].find("doggo")!=-1:
        twitter_archive_enhanced.loc[i, 'nickname'] = "doggo"
        
    if twitter_archive_enhanced.loc[i, 'text'].find("floofer")!=-1:
        twitter_archive_enhanced.loc[i, 'nickname'] = "floofer"
        
    if twitter_archive_enhanced.loc[i, 'text'].find("pupper")!=-1:
        twitter_archive_enhanced.loc[i, 'nickname'] = "pupper"

检测

In [41]:
twitter_archive_enhanced['nickname'].head(10)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9    doggo
Name: nickname, dtype: object

** f.`rating_denominator`数据缺失**

使用正则表达式重新解析出分数

In [95]:
temp = twitter_archive_enhanced['text'].str.extract(r'(\d+\.?\d*\/\d+)')
temp = temp[0].str.split("/")

for i in range(len(twitter_archive_enhanced)):
    twitter_archive_enhanced.loc[i, 'rating_numerator'] = temp[i][0]
    twitter_archive_enhanced.loc[i, 'rating_denominator'] = temp[i][1]

结果检测

In [96]:
twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 20 columns):
tweet_id                      2278 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2278 non-null datetime64[ns]
source                        2278 non-null object
text                          2278 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2274 non-null object
rating_numerator              2278 non-null object
rating_denominator            2278 non-null object
name                          1534 non-null object
doggo                         2278 non-null object
floofer                       2278 non-null object
pupper                        2278 non-null object
puppo                         2278 non-null object
favorite_count                2274 non-null float64
retweet_count                 2274 non-null float64
nickname                      388 non-null object
dtypes: datetime64[ns](1), float64(6), int64(1), object(12)
memory usage: 356.0+ KB

** G. favorite_count 列和retweet_count中有几个NaN **
- 用均值填充

In [106]:
favorite_count_mean = twitter_archive_enhanced['favorite_count'].mean()
retweet_count_mean = twitter_archive_enhanced['retweet_count'].mean()

In [113]:
twitter_archive_enhanced['favorite_count'].fillna(favorite_count_mean, inplace = True)
twitter_archive_enhanced['retweet_count'].fillna(retweet_count_mean, inplace = True)

结果检测

In [114]:
twitter_archive_enhanced.info()
'''
favorite_count                2278 non-null float64
retweet_count                 2278 non-null float64
已从2274 - > 2278
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 20 columns):
tweet_id                      2278 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2278 non-null datetime64[ns]
source                        2278 non-null object
text                          2278 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2274 non-null object
rating_numerator              2278 non-null object
rating_denominator            2278 non-null object
name                          1534 non-null object
doggo                         2278 non-null object
floofer                       2278 non-null object
pupper                        2278 non-null object
puppo                         2278 non-null object
favorite_count                2278 non-null float64
retweet_count                 2278 non-null float64
nickname                      388 non-null object
dtypes: datetime64[ns](1), float64(6), int64(1), object(12)
memory usage: 356.0+ KB